* {
    box-sizing: border-box;
}
  
body {
    margin: 0; 
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6; 
}

.quiz-section {
    display: none;
}

.question {
    width: 100%;
    text-align: center;
}

.question ul {
    list-style: none;
    padding: 0;
    margin: auto;
    display: inline;
}

.question ul p, 
.question ul input {
    display: inline-block;
    padding: 0 2px;
}

#next-btn, 
#start-btn {
    height: 4em;
    width: 10em;
    display: block;
    margin: 2em auto 0 auto;
    font-size: 20px;
    background: rgb(211, 72, 72);
    color: rgb(245, 237, 237); 
    border: 1px solid rgba(49, 48, 48, 0.658);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.start-section, 
.endDone {
    width: 75%;
    margin: 5em auto;
    text-align: center;
}

.start-section h1 {
    margin: 2em auto;
    width: 80%;
}

.start-section h2 {
    font-size: 22px;
    font-weight: 200;
}

.disappear, 
img, 
.quiz-section {
    display: none; 
}

.appear-block {
    display: block !important; 
}

.appear-flex {
    display: flex;
}

.end-section {
    display: none; 
}

input {
    height: 1.5em;
    width: 1.5em;
}
